xml/dtd/calendar.dtd

<!-- calendar.dtd -->

<!ENTITY % common-ent SYSTEM "common.ent">
%common-ent;

<!ENTITY % htmldoc SYSTEM "htmldoc.dtd">
%htmldoc;

<!ELEMENT weekly (title, day+)>

<!ELEMENT title (%inline;)*>

<!ELEMENT day (time+)>
<!ATTLIST day
	id		(sun|mon|tue|wed|thu|fri|sat)	#REQUIRED
>

<!ELEMENT time (program+)>
<!ATTLIST time
	val		(700|730|800|830|900)		#REQUIRED
>

<!ELEMENT program (%inline;)*>
<!ATTLIST program
	ch		(2|5|6|7|11|20)		#REQUIRED
	min		(30|60)				#REQUIRED
>
